.lista-vagas{
    max-width: auto;
    display: flex;
}
h2{
    text-align: center;
    margin-top: 22px;
    font-style: initial;
    font-family: monospace;
    
}

h4{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



.card{
    margin-left: 258px;
    margin-top: 26px;
    margin-bottom: 216px;
    
    background-color: rgb(36, 35, 35);
}

.form-label{
    color: #fff;
}


