<section class="lista-vagas">
  
    <div *ngFor="let vaga of vagas">
      <div class="card" style="width: 18rem;">
        
  
        <div class="card-body">
          <h5 class="codigo-vaga" ><strong>Código da Vaga:</strong> {{vaga.id}}</h5>
          <h5 class="nome-vaga"><strong>Nome da Vaga: </strong>{{vaga.nome}}</h5>
          <h5 class="desc-vaga"><strong>Descrição da Vaga:</strong> {{vaga.descricao}}</h5>
          <h5 class="salario-vaga"><strong>Salário: R$</strong> {{vaga.salario}},00</h5>
        </div>
  
      </div>
    </div>
  
  </section>